/* 탭 메뉴 */
.tab_menu {
    width: 100%;
    display: flex;
}

.tab_menu_ul {
    width: 100%;
    display: flex;
}

.tab_menu_ul::-webkit-scrollbar {
    height: 0px;
}

.tab_menu_list {
    width: 100%;
    display: flex;
    border-radius: 8px;
    transition: 0.3s ease;
}

.tab_menu_list.on {
    background: linear-gradient(to right, #05230A 90%, #3DBF5A);
}

.tab_menu_link {
    width: 100%;
    height: 100%;
    /* min-height: 44px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
}

.tab_menu_text {
    font-size: 16px;
    /* 16px */
    font-weight: bold;
    color: #9EA4AA;
    word-break: keep-all;
    text-align: center;
}

.tab_menu_list:hover .tab_menu_text {
    color: #05230A;
}

.tab_menu_list.on .tab_menu_text {
    color: #ffffff;
}





/* 게시판 total 텍스트 */
.board_total_box {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.board_total_text {
    font-size: 16px;
    font-weight: 500;
    color: #454C53;
}

.board_total_num {
    font-weight: 700;
    color: #3DBF5A;
}






/* 검색창 */
.search_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    width: 100%;
    max-width: 540px;
    height: 72px;
    display: flex;
    align-items: center;
    background-color: #E8EBED;
    border-radius: 16px;
    padding: 0px 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.search_box.focused {
    background-color: #fff;
    border: 2px solid #3DBF5A;
}

.search_select {
    width: 100%;
    max-width: 74px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #1B1D1F;
    margin-right: 16px;
}

.search_botton {
    width: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search_icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub_search_icon_img {
    width: 100%;
    object-fit: contain;
}





/* 카드형 게시판 리스트 */
.card_list_wrap {
    width: 100%;
}

.card_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card_list_box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
}

.card_list{
    width: 100%;
    max-width: calc(25% - 15px);
    display: flex;
    transition: 0.3s ease;
}

.card_list_link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vertical_reverse{
    flex-direction: column-reverse;
}

.card_list_img_box{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card_list_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.card_list:hover .card_list_img{
    transform: scale(1.1);
}

.card_list_text_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.card_list_text_box .division_text{
    font-size: 14px;
}

.card_list_text_box .basic_title{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 140%;
    transition: 0.3s ease;
}



/* 카드형 게시판 리스트 (news) */
.news_card_wrap .card_list_box{
    gap: 64px 24px;
}

.news_card_wrap .card_list{
    max-width: calc(33.33% - 16px);
    border-radius: 20px;
    border: 1px solid #C9CDD2;
    background: #fff;
}

.news_card_wrap .card_list:hover{
    background: #3DBF5A;
}

.news_card_wrap .card_list:hover .division_text, .news_card_wrap .card_list:hover .basic_stitle, .news_card_wrap .card_list:hover .caption_text, .news_card_wrap .card_list:hover .day_text{
    color: #fff;
}

.news_card_wrap .card_list_link{
    padding: 24px 20px;
}

.news_card_wrap .card_list_img_box{
    background: #E8EBED;
    border-radius: 20px;
}



/* 카드형 게시판 리스트 (foundation) */
.foundation_card_wrap .card_list_box{
    gap: 64px 24px;
}

.foundation_card_wrap .card_list{
    max-width: calc(33.33% - 16px);
}

.foundation_card_wrap .card_list_img_box{
    border-radius: 20px;
    overflow: hidden;
}




/* 리포트 리스트 */
.report_list_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.report_list_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.report_ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.report_list{
    width: 100%;
    max-width: calc(50% - 15px);
    border-radius: 20px;
    border: 1px solid #C9CDD2;
    padding: 8px 20px 8px 8px;
    transition: 0.1s ease;
}

.report_list:hover{
    background: #3DBF5A;
    border: 1px solid #3DBF5A;
}

.report_list:hover .report_list_text_box,
.report_list:hover .report_list_text_box p,
.report_list:hover .report_list_text_box h5,
.report_list:hover .report_list_text_box ul li p {
    color: #fff !important;
    transition: 0.1s ease !important;
}

.report_list:hover .report_list_text_box .under_line::after {
    background: #fff;
}

.report_link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.report_list_img_box{
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 245px;
    height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.report_list_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.report_list_img_text_box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 6;
    transition: opacity 0.1s ease;
}

.report_list:hover .report_list_img_text_box{
    opacity: 0;
}

.report_list_img_dim{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#3dbf59f3 -5%, #26282bf3 40%, #26282b7e);
    z-index: 5;
    transition: opacity 0.1s ease;
}

.report_list:hover .report_list_img_dim{
    opacity: 0;
}

.report_list_text_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.report_list_title_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.report_list_info_text_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.under_line::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 24px;
    height: 2px;
    background: #1B1D1F;
}

.report_list_info_text_ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.report_list_info_text_list{
    max-width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    white-space: nowrap;
}

.report_list_info_text_list .basic_gray_text:first-child{
    width: 100px;
}













/* 년도 셀렉트 박스 */
.select_year_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.year_btn{
    width: 100%;
    min-height: 60px;
}

.year_btn_txt {
    font-size: 48px;
    font-weight: 700;
    color: #1B1D1F;
    letter-spacing: -2px;
}

.year_box .select_up_btn:after {
    display: none;
}

.year_list_box {
    top: 50px;
    background: #05230A;
    max-height: 135px;
    overflow-y: auto;
    border-radius: 12px;
}

.year_list_box.on {
    top: 55px;
}

.year_list {
    border-bottom: 1px solid #ffffff3b;
    display: flex;
}

.year_list a {
    padding: 14px 0;
    font-size: 16px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.year_list a span {
    color: #fff;
}
  
  .down_arrow_circle {
    width: 24px;
    height: 24px;
    background: #1B1D1F;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow_down {
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg) translate(-1px, 1px);
  }









/*  게시판 리스트  */
.board_list_wrap {
    width: 100%;
}

.board_list_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #1B1D1F;
    border-bottom: 2px solid #1B1D1F;
}

.board_list_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-bottom: 2px solid #1B1D1F;
    gap: 0 20px;
}

.board_list_title_text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 20px 0px;
}

.board_list_content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.board_list_content_item {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #E8EBED;
    align-items: center;
    transition: 0.3s;
}

.board_list_content_item:hover {
    background: #F7F8F9;
}

.board_list_content_item:last-child {
    border-bottom: 0px;
}

.board_list_cell_link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 25px 0;
    gap: 0 20px;
}


/* 셀 텍스트 속성 */
.board_list_cell_text {
    font-size: 16px;
    font-weight: 500;
    color: #1B1D1F;
    text-align: center;
    word-break: keep-all;
}

/* 번호 */
.board_list_cell.num .board_list_cell_text {
    font-size: 14px;
    font-weight: 700;
    color: #9EA4AA;
}

/* 제목 */
.board_list_cell.subject .board_list_cell_text {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.board_list_content_item:hover .board_list_cell.subject .board_list_cell_text {
    font-weight: 700;
    color: #05230A;
}

/* 날짜 */
.board_list_cell.date .board_list_cell_text {
    font-size: 14px;
    font-weight: 400;
    color: #9EA4AA;
}


/* 셀 넓이 */
.board_list_title_item,
.board_list_cell {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
}

/* 번호 */
.board_list_title_item.num,
.board_list_cell.num {
    max-width: 80px;
}

/* 구분 */
.board_list_title_item.category,
.board_list_cell.category {
    max-width: 200px
}

/* 제목 */
.board_list_title_item.subject,
.board_list_cell.subject {
    max-width: 100%;
}

.board_list_cell.subject {
    justify-content: flex-start;
}

/* 작성자 */
.board_list_title_item.writer,
.board_list_cell.writer {
    max-width: 120px;
}

/* 날짜 */
.board_list_title_item.date,
.board_list_cell.date {
    max-width: 140px;
}





/* 게시판 형식 */
.board_view_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.board_title_wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 48px 0;
    border-bottom: 2px solid #E8EBED;
}

.board_title_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.board_title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.board_util {
    display: flex;
    align-items: center;
    gap: 24px;
}

.board_util_list {
    display: flex;
    align-items: center;
    gap: 6px;
}

.board_util_icon_img {
    object-fit: contain;
}

.board_util_text {
    font-size: 16px;
    font-weight: bold;
    color: #72787F;
    white-space: nowrap;
}

.board_view_text_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.board_view_text_box {
    padding: 48px 20px 64px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.board_info_text {
    font-size: 16px;
    font-weight: 400;
    color: #454C53;
    line-height: 140%;
}

.board_add_item_wrap {
    width: 100%;
    display: flex;
    margin-bottom: 48px;
    background: linear-gradient(to right, #3dbf59 -10%, #26282B 7%);
    padding: 24px;
    border-radius: 16px;
    gap: 50px;
}

.board_add_item_title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
}

.board_add_item_box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.board_add_item_ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board_add_item_list {
    width: 100%;
    display: flex;
    align-items: center;
}

.board_link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.board_link_text {
    font-size: 16px;
    font-weight: 300;
    color: #C9CDD2;
    line-height: 140%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: 0.3s ease;
}

.file_add_list:hover .board_link_text {
    text-decoration: underline;
}

.board_short_cut_link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3DBF5A;
    transition: 0.3s ease;
}

.board_short_cut_link:hover{
    background: #05230A;
}

.board_short_cut_link_text{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.post_nav_wrap {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.post_nav_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_nav_btn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.post_nav_btn_text {
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: #1B1D1F;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #1B1D1F;
    transition: 0.3s ease;
}

.post_nav_btn_text:hover {
    background: #05230A;
    color: #fff;
}

.post_nav_btn_info_text {
    font-size: 16px;
    font-weight: 500;
    color: #1B1D1F;
    max-width: 30vw;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.board_images_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

.board_images_box{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.board_images_img{
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
    overflow: hidden;
}






/* 게시판 쓰기 */
.board_write_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-bottom: 2px solid #000;
}




/* 체크 박스 */
.input_box .check_box {
    width: 100%;
    height: 100%;
}

.input_box .check_box input {
    display: none;
}

.input_box .check_box .check_ck {
    width: 100%;
    height: var(--input_high);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background: #F7F8F9;
    border: 1px solid #E8EBED;
    transition: 0.3s ease;
    border-radius: 8px;
    cursor: pointer;
    gap: 10px;
}

.input_box .check_box input:checked + .check_ck {
    background: #E5F6E7;
    border: 1px solid #3DBF5A;
}

.input_box .check_box .check_ck .ch_img {
    display: flex;
    align-items: center;
}

.ch_img svg {
    background: #fff;
    border-radius: 100px;
    padding: 2px;
    border: 2px solid #C9CDD2;
    width: 18px;
    height: 18px;
}

.input_box .check_box input:checked + .check_ck .ch_img svg {
    border: 2px solid #3DBF5A;
}

.input_box .check_box .check_ck .ch_img path {
    fill: none;
    stroke: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 0.6s ease;
}

.input_box .check_box input:checked + .check_ck path {
    fill: transparent;
}

.input_box .check_box .check_ck .ch_img polyline {
    fill: none;
    stroke: #3DBF5A;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 0.3s ease;
}

.input_box .check_box input:checked + .check_ck polyline {
    stroke-dashoffset: 0;
}

.input_box .check_box .check_ck span {
    color: #454C53;
    font-size: 16px;
    font-weight: 500;
    word-break: keep-all;
    transition: 0.3s ease;
}

.input_box .check_box input:checked + .check_ck span {
    color:#05230A;
    font-weight: 700;
}







/* issue */
.issue_step{
    gap: 48px !important;
}

.issue_input_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.issue_input_box{
    width: 100%;
    border: 1px solid #C9CDD2;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.issue_util_btn_ul{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.issue_util_btn{
    padding: 6px 14px;
    border-radius: 8px;
    background: #9EA4AA;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 34px;
    cursor: pointer;
    transition: 0.3s ease;
}

.issue_add{
    background: #454C53;
}

.issue_util_btn:hover{
    background:#3dbf59;
}

.issue_util_btn .basic_white_text{
    font-size: 14px;
    font-weight: 600;
}

.issue_info_add_ul{
    border-top: 2px solid #1B1D1F;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.issue_info_add_list{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.issue_info_add_item_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 40px;
    aspect-ratio: 1 / 1;
}

.issue_info_add_item_box .basic_gray_text{
    font-size: 14px;
    color: #9EA4AA;
}

.issue_info_add_input_ul{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.issue_info_add_input_list{
    width: 100%;
    display: flex;
    align-items: center;
}

.issue_info_add_input_list .input_box input{
    height: var(--low_input_high);
    font-size: 14px;
}

.issue_info_add_input_list .input_box input::placeholder{
    font-size: 14px;
}




/* 삭제 버튼 */
.del_btn{
    width: 22px;
    height: 22px;
    border-radius: 1000px;
    border: 2px solid #000;
    position: relative;
    cursor: pointer;
}

.del_btn::after{
    width: 8px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: block;
    content: "";
}

/* 페이징 */
.paging_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.paging_box {
    display: flex;
    align-items: center;
}

.paging_ul {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.paging_list_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

.paging_list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #E8EBED;
    transition: 0.3s;
}

.paging_list a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.paging_list:hover {
    background-color: #C9CDD2;
}

.paging_list.on {
    background-color: #3DBF5A;
}

.paging_list_text {
    font-size: 14px;
    font-weight: 400;
    color: #454C53;
}

.paging_list.on .paging_list_text {
    color: #fff;
    font-weight: 700;
}

.paging_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #454C53;
    transition: 0.3s;
    cursor: pointer;
}

.paging_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.paging_btn:hover {
    background-color: #1B1D1F;
}



/* 첨부파일 업로드 */
.input_file_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
}

.input_box_label {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--input_high);
    padding: 0 20px;
    background: #F7F8F9;
    border: 1px solid #E8EBED;
    border-radius: 8px;
}

.file_up_icon_img {
    object-fit: contain;
}

.file_name_txt {
    font-size: 16px;
    font-weight: 500;
    color: #454C53;
}

.file_upload_btn {
    display: flex;
    max-width: 160px;
    width: 100%;
    height: var(--input_high);
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #008117;
    transition: 0.3s ease;
}

.file_upload_btn:hover {
    background: #E5F6E7;
}

.file_upload_btn_text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #008117;
    text-align: center;
    transition: 0.3s ease;
}

.file_upload_btn:hover .file_upload_btn_text {
    /* color: #fff; */
}

.delete_file {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}

.delete_file_list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete_file_check {
    background: #1B1D1F;
    padding: 4px 10px 4px 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    cursor: pointer;
    word-break: keep-all;
    border-radius: 8px;
}

input[type="checkbox"]:checked+.delete_file_check {
    background: #F6503B;
}

.delete_file_text {
    font-size: 16px;
    font-weight: 500;
    color: #454C53;
    transition: 0.3s ease;
}

input[type="checkbox"]:checked+.delete_file_check+.delete_file_text {
    color: #F6503B;
}




/* button list */
.button_wrap {
    margin-top: 64px;
    display: flex;
    width: 100%;
}

.button_box {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button_list {
    max-width: 140px;
    width: 100%;
    height: var(--input_high);
    background: #C9CDD2;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.button_list.on {
    background: #1B1D1F;
}

.button_list a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_text {
    color: #454C53;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 0 16px;
}

.button_list.on .button_text {
    color: #fff;
}

.button_list:hover{
    background: #05230A;
}

.button_list:hover .button_text{
    color: #fff;
}




/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
:root {
    --input_high: 60px;
    --low_input_high: 48px;
}

select,
input,
button {
    border: none;
    font-size: 16px;
    outline: 0;
    height: 100%;
    font-family: 'Pretendard';
    background: none;
}

.down_step {margin-bottom: 64px;}

.max_220 {
    max-width: 220px;
}

input {
    width: 100%;
}

.input_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.input_step {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0;
    border-top: 1px solid #E8EBED;
    gap: 10px;
}

.input_box input {
    height: var(--input_high);
    padding: 0px 14px;
    background: #F7F8F9;
    border: 1px solid #E8EBED;
    font-family: 'Pretendard';
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 8px;
    transition: 0.3s ease;
}

.input_box input:focus {
    background: #E5F6E7;
    border: 1px solid #3DBF5A;
    color: #05230A;
}

.input_box input:focus::placeholder {
    font-weight: 700;
    color: #05230A;
}

input[type=text] {
    color: #1B1D1F;
    font-weight: 500;
    font-size: 16px;
}

input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #9EA4AA;
    transition: 0.3s ease;
}

.input_select {
    width: 100%;
    height: var(--input_high);
    padding: 0px 20px;
    outline: 0;
    background-color: #F7F8F9;
    border: 1px solid #E8EBED;
    font-family: 'Pretendard';
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    color: #454C53;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    appearance: none;
    background-image: url(../img/down_arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    background-size: 12px;
    cursor: pointer;
}

.input_box .input_select:focus {
    background-color: #E5F6E7;
    border: 1px solid #3DBF5A;
    color: #05230A;
}

.input_select option {
    background-color: #FFF; /* 기본 흰색 */
    color: #454C53; /* 텍스트 색상 */
    font-weight: 500; /* 기본 폰트 설정 */
    padding: 10px;
}

.input_step_title {
    font-size: 20px;
    font-weight: bold;
    color: #1B1D1F;
}

.input_step_title span {
    color: #FFB800;
    display: inline-block;
    transform: translateY(2.5px);
}

/* textarea */
.input_textarea {
    width: 100%;
    height: 470px;
    display: flex;
    border: 1px solid #E8EBED;
    outline: none;
    color: #1B1D1F;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Pretendard';
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.input_textarea:focus {
    background: #E5F6E7;
    border: 1px solid #3DBF5A;
    color: #05230A;
}

.dozen_select_box{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input_day_icon::after {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    content: url(../img/cld_icon.svg);
    display: block;
}

.division_text {
    font-size: 16px;
    font-weight: bold;
    color: #3DBF5A;
    transition: 0.3s ease;
}

.kategorie_text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    color: #05230A;
    padding: 6px 12px;
    border: 1px solid #96D99F;
    border-radius: 4px;
    background: #E5F6E7;
    word-break: keep-all;
}

.basic_ltitle{
    font-size: 0px;
    font-weight: bold;
    color: #1B1D1F;
}

.basic_mtitle{
    font-size: 24px;
    font-weight: bold;
    color: #1B1D1F;
}

.basic_stitle{
    font-size: 20px;
    font-weight: bold;
    color: #1B1D1F;
}

.basic_title{
    font-size: 16px;
    font-weight: bold;
    color: #1B1D1F;
    position: relative;
}

.white_ltitle{
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}

.white_mtitle{
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

.white_stitle{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.basic_white_text{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.basic_gray_text{
    font-size: 16px;
    font-weight: 500;
    color: #454C53;
    transition: 0.3s ease;
}

.caption_text{
    font-size: 14px;
    font-weight: 400;
    color: #454C53;
    line-height: 160%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: 0.3s ease;
}

.day_text{
    font-size: 14px;
    font-weight: 500;
    color: #9EA4AA;
    transition: 0.3s ease;
}







/* 반응형 */
@media(max-width : 1900px) {}

@media(max-width : 1800px) {}

@media(max-width : 1700px) {}

@media(max-width : 1600px) {
    .tab_menu_text {font-weight: 500;}
    .search_box {height: 66px;}
    .card_list_img_box {height: 230px;}
}

@media(max-width : 1400px) {
    .search_box {height: 60px; border-radius: 8px;}
    .board_title_wrap {padding: 44px 0; gap: 16px;}
    .input_textarea {height: 440px;}
    .card_list_img_box {height: 210px;}
    .caption_text {-webkit-line-clamp: 2;}
    .news_card_wrap .card_list_link {padding: 20px;}
    .year_btn_txt {font-size: 42px;}
    .report_list_img_box {height: 335px;}
    .white_ltitle {font-size: 42px;}
    .report_link {gap: 40px;}
}

@media(max-width : 1200px) {
    .tab_menu_ul {overflow-x: scroll; gap: 26px;}
    .tab_menu_text{white-space: nowrap;}
    .down_step{margin-bottom: 50px;}
    .board_list_title_text {padding: 16px 0px;}
    .board_list_title_item.num, .board_list_cell.num {max-width: 60px;}
    .board_list_title_item.writer, .board_list_cell.writer {max-width: 100px;}
    .board_list_title_item.date, .board_list_cell.date {max-width: 120px;}
    .file_clip_img{display: none;}
    .board_view_text_box {padding: 40px 0px 50px 0px;}
    .board_add_item_wrap {padding: 24px 20px; margin-bottom: 40px;}
    .input_textarea {height: 400px;}
    .card_list_img_box {height: 190px;}
    .news_card_wrap .card_list_link {padding: 18px 16px;}
    .news_card_wrap .card_list_box {gap: 54px 15px;}
    .foundation_card_wrap .card_list_box {gap: 54px 15px;}
    .news_card_wrap .card_list {max-width: calc(33.33% - 10px);}
    .foundation_card_wrap .card_list {max-width: calc(33.33% - 10px);}
    .year_btn_txt {font-size: 36px;}
    .report_ul {gap: 20px;}
    .report_list_img_box {height: 290px; max-width: 215px;}
    .white_ltitle {font-size: 36px;}
    .report_link {gap: 30px;}
    .report_list {max-width: calc(50% - 10px);}
    .report_list_text_box {gap: 40px;}
    .white_stitle {font-size: 20px;}
    .report_list_info_text_ul {gap: 6px;}
}

@media(max-width : 1000px) {
    :root {--input_high: 54px;}
    .tab_menu_ul {gap: 20px;}
    .tab_menu_text {font-size: 14px;}
    .tab_menu_link {padding: 10px;}
    .search_box {height: 54px; padding: 0 10px;}
    .search_wrap.down_step{margin-bottom: 40px;}
    .board_list_total {margin-bottom: 14px;}
    .board_list_total_text {font-size: 14px;}
    .board_list_title{display: none;}
    .board_list_cell_link { align-items: flex-start; padding: 20px 0; gap: 10px; flex-direction: column;}
    .board_list_title_item, .board_list_cell {justify-content: flex-start; padding: 0;}
    .board_list_title_item.num, .board_list_cell.num, .board_list_title_item.category, .board_list_cell.category,     .board_list_title_item.writer, .board_list_cell.writer, .board_list_title_item.date, .board_list_cell.date {max-width: 100%;}
    .board_list_cell.category{display: none;}
    .board_list_cell.writer{display: none;}
    .paging_list {width: 34px; height: 34px;}
    .paging_btn{ min-width: 34px; height: 34px;}
    .board_title_wrap {padding: 40px 0; gap: 14px;}
    .board_title {font-size: 22px;}
    .board_title_box {align-items: flex-start; gap: 20px; flex-direction: column;}
    .board_util_text {font-size: 14px;}
    .board_util_icon_img {width: 20px;}
    .input_textarea {height: 350px;}
    .board_write_wrap {gap: 16px;}
    .input_step_title {font-size: 18px;}
    .file_upload_btn {max-width: 120px;}
    .card_list_img_box {height: 170px;}
    .news_card_wrap .card_list_box {gap: 50px 20px;}
    .foundation_card_wrap .card_list_box {gap: 50px 20px;}
    .foundation_card_wrap .card_list .card_list_link{gap: 16px;}
    .news_card_wrap .card_list {max-width: calc(50% - 10px);}
    .foundation_card_wrap .card_list {max-width: calc(50% - 10px);}
    .report_list {max-width: 100%;}
    .report_link {gap: 40px;}
    .issue_input_box {gap: 14px;}
    .issue_num_box{display: none;}
    .issue_info_add_input_list.max_220{max-width: 170px;}
    .vertical_reverse{flex-direction: column;}
}

@media(max-width : 800px) {
    .button_wrap {margin-top: 50px;}
    .post_nav_box{display: none;}
    .board_view_text_box {padding: 30px 0px 40px 0px;}
    .board_add_item_wrap {gap: 16px; flex-direction: column;}
    .board_add_item_ul {gap: 8px;}
    .board_add_item_wrap {margin-bottom: 30px; border-radius: 12px;}
    .input_textarea {height: 300px;}
    .input_step_title {font-size: 16px;}
    .file_upload_btn {max-width: 100px;}
    .file_upload_btn_text {font-size: 14px;}
    .news_card_wrap .card_list_box {gap: 40px 16px;}
    .news_card_wrap .card_list {max-width: calc(50% - 8px);}
    .foundation_card_wrap .card_list_box {gap: 40px 16px;}
    .foundation_card_wrap .card_list {max-width: calc(50% - 8px);}
    .foundation_card_wrap .card_list .card_list_text_box .basic_stitle{font-size: 18px;}
    .report_list_img_box {height: 270px; max-width: 200px;}
    .report_list_text_box {gap: 30px;}
    .issue_info_add_ul {padding-top: 16px; gap: 40px;}
    .issue_info_add_input_ul {flex-direction: column;}
    .issue_info_add_input_list.max_220{max-width: 100%;}
    .issue_input_box {padding: 24px 20px;}
}

@media(max-width : 600px) {
    .tab_menu_ul {gap: 16px;}
    .search_wrap.down_step{margin-bottom: 30px;}
    .file_upload_btn {max-width: 80px;}
    .file_up_icon_img {display: none;}
    .delete_file_list {gap: 10px;}
    .news_card_wrap .card_list {max-width: 100%;}
    .foundation_card_wrap .card_list {max-width: 100%;}
    .card_list_text_box {gap: 7px;}
    .year_btn_txt {font-size: 32px;}
    .white_ltitle {font-size: 32px;}
    .report_list_img_box {height: 240px; max-width: 170px;}
    .report_link {gap: 26px;}
    .report_ul {gap: 16px;}
    .report_list_title_box {gap: 6px;}
    .report_list_info_text_list .basic_gray_text{font-size: 14px;}
    .report_list_info_text_box {gap: 24px;}
    .report_list_text_box {gap: 24px;}
    .report_list_info_text_list {max-width: 140px; gap: 20px;}
    .email_input_box{display: none;}
    .email_domain_box{max-width: 100%;}
}

@media(max-width : 500px) {
    .report_link {flex-direction: column;gap: 20px; }
    .report_list_img_box {height: 170px; max-width: 100%;}
    .report_list {padding: 16px;}
}

@media(max-width : 400px) {
    .tab_menu_ul {gap: 10px;}
    .search_select {max-width: 64px; font-size: 14px; margin-right: 14px;}
    .news_card_wrap .card_list {border: 0;}
    .news_card_wrap .card_list_link {padding: 0;}
    .news_card_wrap .card_list_box {gap: 60px 16px;}
    .news_card_wrap .card_list:hover {background: unset;}
    .news_card_wrap .card_list:hover .division_text, .news_card_wrap .card_list:hover .basic_stitle, .news_card_wrap .card_list:hover .caption_text, .news_card_wrap .card_list:hover .day_text {color: unset;}
    .news_card_wrap .card_list_img_box {border-radius: 10px;}
}

@media(max-width : 300px) {}